* { 
    box-sizing: border-box;
    }
    
    body {
        margin: 0;
    }

    
    .back {
        font-family: arial;
        font-size: 18px;
        position: relative;
        top: 15px;
        left: 15px;
    }
    
    .back:hover {
        background-color: rgb(248, 215, 220);
        padding: 10px;
        border-radius: 10px;
        border: 2px solid blue;
    }
    
    
    .container-all {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    img {
        display: block;
        width: 25vw;
        height: auto;
    
    }
    
    .ghost3-container {
        font-family: "Roboto";
        font-size: 28px;
        text-align: center;
    
        background-color: rgb(181, 181, 181);
        border: 2.5px solid;
        
        width: 50%;
        padding: 20px; 

        transition: background-color 1s;
        }
    
       .ghost3-fact-2, .ghost3-fact-3, .ghost3-fact-4 {
        display: none;
       } 
    
    
        @media screen and (max-width:1200px) {
    
            .ghost3-container {
                font-size: 24px;
                background-color:rgb(211, 157, 157);
            }
    
            .ghost3-fact-1, .ghost3-fact-3, .ghost3-fact-4 {
                display: none;
            }
    
            .ghost3-fact-2 {
                display: inline;
            }
        }
    
    
        @media screen and (max-width:900px) {
    
            .ghost3-container {
                font-size: 20px;
                background-color: rgb(255, 118, 118);
            }
    
            .ghost3-fact-1, .ghost3-fact-2, .ghost3-fact-4 {
                display: none;
            }
    
            .ghost3-fact-3 {
                display: inline;
            }
    
        }
    
    
        @media screen and (max-width:600px) {
    
            .ghost3-container {
                font-size: 16px;
                background-color: rgb(255, 78, 78);
            }
    
            .ghost3-fact-1, .ghost3-fact-2, .ghost3-fact-3 {
                display: none;
            }
    
            .ghost3-fact-4 {
                display: inline;
            }
    
        }
    
    