* { 
box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Roboto";
    font-size: 18px;
    margin: 0;
}

.homepage {
    font-family: arial;
    font-size: 18px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.homepage:hover {
    background-color: rgb(215, 248, 232);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid blue;
}

.instructions {
    text-align: center;
    margin: 10px 300px;
    position: relative;
    top: 60px;
}
.container-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    max-width: 40%;
}

.house {
    /* max-width: 40%; */
    width: 100%;
    height: auto;
    position: relative;

}

.house:hover {
    background-color: rgb(255, 192, 203);
    border-radius: 25px;
}

.cat {
    max-width: 10vw;
    height: auto;
    position: absolute;
    bottom: -200px;
    right: 130px;
}

.cat:hover {
    background-color:rgb(180, 180, 251);
    border-radius: 25px;
}

.ghost1 {
    max-width: 7vw;
    height: auto;
    position: absolute;
    left: -90px;
    bottom: -30px;

}

.ghost1:hover {
    background-color:rgb(237, 102, 102);
    border-radius: 25px;
}

.ghost2 {
    max-width: 12vw;
    height: auto;
    position: absolute;
    left: -200px;
    bottom: 300px;

}

.ghost2:hover {
    background-color:rgb(86, 199, 180);
    border-radius: 25px;
}

.ghost3 {
    max-width: 7vw;
    height: auto;
    position: absolute;
    top: -80px;
    right: 125px;

}

.ghost3:hover {
    background-color:rgb(181, 181, 181);
    border-radius: 25px;
    padding: 0;

}


.ghost4 {
    max-width: 12vw;
    height: auto;
    position: absolute;
    right: -150px;
    top: 60px;
}


.ghost4:hover {
    background-color:#ffff76;
    border-radius: 25px;
}

