body {
    background-color: thistle;
    margin: 20px;
}

h1 {
    font-family: "Gloock";
    text-align: center;
    font-size: 45px;
    color:rgb(47, 68, 68);
    background-color: antiquewhite;
    border: 4px;
    border-style:solid;
    border-color: rgb(47, 68, 68);
    padding: 20px;
}

h2{
    font-family: "Gloock";
    color:rgb(47, 31, 47);
    margin-bottom: 0;
}
   

h3 {
    text-align: center;
    margin-top: 0;
    font-size: 22px;
    color:rgb(47, 68, 68);
}


p {
font-family: "Poppins";
font-size: 16px;
color:rgb(47, 31, 47);
}

a{
 font-family: "Poppins";
}

li {
font-family: "Poppins";
}

figcaption {
font-family: "Poppins";
font-style: italic;
color:rgb(47, 31, 47);
}

figure {
    text-align: center;
}

.cardinalwithbabies {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 50px;
}

.lifelist {
    text-align: center;
    background-attachment: fixed;
}


hr {
    border: 2px dashed rgb(125, 98, 28);
}


.categories {
    color:rgb(47, 68, 68);
    background-color:antiquewhite;
    border: 4px;
    border-style:solid;
    border-color: rgb(47, 68, 68);
    padding: 20px;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 30px;
}

.reasons {
    background-color:antiquewhite;
    border: 2px;
    border-style: dashed;
    border-color: rgb(125, 98, 28);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
}