body {
    background-image: url("main.jpg");
    background-size: cover;
    /* background-color: rgb(177, 235, 235); */

}

h1 {
    color: darkgoldenrod;
    font-family: "Kumar One";
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0;
    text-shadow: 2px 2px 1px antiquewhite;
    position: relative;
    left: 30px;
}

p {
    color: darkslategray;
    font-size: 25px;
    font-family: "DM Sans";
    padding-right: 20px;
    margin-top: 10px;
    text-align: right;
}

a {
    color: white;
}

a:visited {
    color: lightpink;
}

li {
    color: white;
    font-size: 30px;
    font-family: "DM Sans";
    font-style: italic;
    list-style: inside;
}


.work {
    background-color: rgb(20, 20, 20);
    padding: 20px;
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 40px;

    position: relative;
    top: 35px;
    margin-right: 0px;
}
