* {
    box-sizing: border-box;
}

    body {
    margin: 0;
    background-color: rgb(202, 247, 242);
}
    


h1 {
    color: rgb(30, 11, 98);
    font-family: "Kumar One";
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2.5px 2.5px 1px rgb(245, 241, 237), 4px 3px 1px rgb(184, 134, 11);
    position: relative;
    text-decoration-color: rgb(123, 246, 78);
}

.container {
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    bottom: 150px;
}



.intro-container {
    display: flex;
    justify-content: center;
}

.intro-p {
  width: fit-content;
  height: fit-content;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  position: relative;
  top: 20px;
  bottom: auto;


  background-color: rgb(245, 241, 237);
  border: 12px dashed darkgoldenrod;
  outline: 6px solid rgb(123, 246, 78);
  outline-offset: -15px;
 

  padding-left: 30px;
  margin: 0 auto;
}

p {
    color: darkslategray;
    font-size: 25px;
    font-family: "DM Sans";
    padding: 10px 30px 0 0;
    margin-top: 10px;
    text-align: left;
}


a {
    color: white;
}

a:visited {
    color: lightpink;
}

li {
    color: white;
    font-size: 30px;
    font-family: "DM Sans";
    font-style: italic;
    list-style: inside;
    padding-bottom: 5px;
    margin-left: 0;
}


.work {
    background-color: rgba(39, 39, 39, 0.864);
    padding: 20px 0;
    width: 100%;
    border: 10px solid rgb(123, 246, 78);
    border-left: none;
    border-right: none;
    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    gap: 40px;

    position: absolute;
    bottom: 0;
    margin-left: 0;
    z-index: 2;
}
