body {
    background-color: rgb(177, 235, 235);
}

h1 {
    color: darkgoldenrod;
    font-family: "Kumar One";
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

p {
    color: darkslategray;
    font-size: 25px;
    font-family: "DM Sans";
    padding-left: 20px;
}

ul{
list-style-image: url('/sunflower.png');
}

li {
    font-size: 30px;
    font-family: "DM Sans";
    font-style: italic;
    padding-left: 10px;
    list-style-image: url("/sunflower.png");
}

