* { 
    box-sizing: border-box;
    }

    body {
        margin: 0;
        background-color:rgb(22, 22, 83);
    }


  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: .75;
    z-index: -1;
  }  

    a {
        background-color: rgb(22, 22, 83);
        font-family: arial;
        font-size: 30px;
        color: aqua;
        padding: 20px;
        border: 2px solid white;
        border-left: none;
        border-radius: 0 0 10px 0;
    }
    
    a:hover {
        background-color: rgb(6, 55, 6);
    }

    .square-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .square {
        background-color: green;
        position: relative;
        width:50vh;
        height:50vh;
        transform: translateY(35%);
        animation: square 16s infinite linear;
    }

    @keyframes square {
        0% {
            background-color: green;
        }

        25% {
           background-color: aqua;
        }

        50% {
            background-color: violet;
        }


        75% {
            background-color: orange;
        }

        100% {
            background-color: green;
        }

    }

    .dot {
        position: absolute;

        width: 40px;
        height: 40px;
        background-color:white;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        animation: breathe 16s infinite linear;
    }

    @keyframes breathe {

        0% {
            left: 0;
            top: 100%;
        }

        25% {
            left: 0;
            top: 0;
        }

        50% {

            left: 100%;
            top: 0;
        }

        75% {
            left: 100%;
            top: 100%;
        }

        100% {
            left: 0;
            top: 100%;
        }

    }
    
 





    
    
    /* p {
        color: rgb(210, 197, 234);
        font-size: 60px;
        font-family: "Martian Mono";
    } */
    
    /* .captions {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        color: rgb(210, 197, 234);
        font-size: 60px;
        font-family: "Martian Mono";
    } */
    
    