* { 
box-sizing: border-box;
}

body {
    background-color:rgb(223, 246, 223);
}

.homepage {
    margin: 20px;
    position: relative; 
    top: 10px;
    font-family: Arial;
}

.homepage2 {
    margin: 20px;
    position: relative; 
    left: 1510px;
    font-family: Arial;
    display: block;
    text-align: right;
}

.key-container {
    width: 3360px;
    height: 100%;
    display: flex;
    margin: 20px;
    flex-direction: row;
    border: 1px solid;
}

.key-container::after {
    content: "";
    flex: 0 0 30px;
}

.key-container:last-child {
    border-right: 1px solid;
}

/* .smallkeycontainer1 {
    background-color: black;
    width: 40px;
    height: 200px;
    position: absolute;
} */


.big {
    background-color: white;
    border: 1px solid;
    width: 280px;
    height: 500px;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.big:hover {
    background-color: rgb(250, 180, 154);
}

.lyrics-container {
    background-color: lightblue;
    border: 1px solid;
    width: 3360px;
    height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row;
    flex-shrink: 0;
}

.lyrics {
    border: 1px solid;
    background-color:light-blue; 
    padding: 15px;
    padding-left: 25px;
    font-size: 18px;
    font-family: Georgia;
    width: 280px;
    flex-shrink: 0;
    line-height: 1.5;
}

.lyrics:hover {
    background-color: rgb(247, 236, 171);
}

summary {
font-weight: bold;
}

