
*box-sizing {
    border-box;
}

.main-container {
    background-color: orange;
    border: 1px solid;
    padding: 10px;
    width: 100%
    height: 500px;
    display: flex;
}

.big-key {
    background-color: white;
    border: 1px solid;
    width: 100%;
    height: 410px;

    position: relative;
    display: flex; 
    justify-content: flex-end;
    z-index: 0;
}

.small-key {
    background-color: black;
    width: 3%;
    height: 26%;

    position: absolute;
    right: -1.5%;
    z-index: 1;
}

.final {
    width: 1.5%;
}