* { 
    box-sizing: border-box;
    }

    @font-face {
      font-family: 'open dyslexic';
      src: url('../opendyslexic-regular-webfont.woff2') format('woff2'),
           url('../opendyslexic-regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    a {
        font-size: 1.1rem;
        padding: 10px;
        color: #2c3636;
      }

      a.dark {
        color: #e9c8e6;
      }
      
      a:hover {
        font-size: 1.2rem;
        color: honeydew;
      }

    .back2 {
        background-color: honeydew;
        text-align: center;
        position: relative;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-right: 2px solid #2c3636;

    }

    .back2.dark {
      background-color: none;
      border-right: 2px solid #ecd2ea;
    }

    .back2.dark:hover {
      border-right: 2px solid #ecd2ea;
    }

    
    .back2:hover {
        border-right: 2px solid #2c3636;
        background-color: #da5237;
    }


    .back2-leaves:hover {
      background-color: #da5237;
    }

    
    body {
        background-color:#f0e4e2;
        color: #2c3636;
        font-family:'Hedvig Letters Sans', sans-serif;

        position: relative;
        margin: 0;
        margin-bottom: 40px;
        width: 100%;
    }

    .body-container {
      display: flex;
      justify-content: space-between;
      align-content:first baseline;
    }

    body.serif {
      font-family: 'Lora', serif;
    }
    
    body.open-dyslexic {
     font-family: 'open dyslexic';
    }

    button {

    background-color: rgb(36, 36, 36);
      border: 1px solid white;
      border-radius: 3px;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
    }


    button:hover {
      box-shadow: 10px -7px 10px goldenrod;
    }


    #close-button {
        position: absolute;
        top: 5px;
        right: 5px;
        box-shadow: 1px 1px 1px grey;
        width: 30px;
        height: 30px;
    }

    .contact {
      width: fit-content;
      position: relative;
      bottom: 12px; 

      border: 1px solid;
      padding: 20px;
      border-radius: 100px;
    }

    .contact-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      position: relative;
      bottom: 5px;
    }

    .contact:hover {
      background-color: darkgoldenrod;
    }
    
    .contact-leaves {
      border-right: 2px solid;
      position: relative;
      width: fit-content;
      padding-top: 10px;
    }

    .contact-leaves-link {
      position: relative;
      top: 5px;
    }

    .contact-leaves:hover {
      background-color: darkgoldenrod;
    }

    .current-selected {
      background-color: #2c3636;
        color: #f0e4e2;
        width: 50%;
    }

    .current-selected.dark {
      background-color: #ecd2ea;
      color: #2c3636;
    }

    .customize {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: absolute;
      top: 15px;
      gap: 50px;
      right: 25px;
    }

    .dark {
        background-color:#2c3636;
        color:#e9c8e6;
      }

      .dark-button {
        position: relative; 
        bottom: 1px; 
      }

      .dark-button-modal {
        position: absolute;
        bottom: 30px;
        right: 40px;
      }

      .decorative-top, .decorative-bottom {
     position: absolute;
      }

      .decorative img:hover {
        border: none;
      }


    .description {
        font-size: 1.2rem;
        margin: 0 20px 20px 20px;
        line-height: 1.5;
    }


    .draggable {
        cursor: grab;
      }

      figcaption {
        text-align: center;
        padding-top: 5px;
        font-size: 1.2rem;
    }
    
    .figcaption-with-icon {
        position: relative;
        bottom: 10px;

    }

    .font-selector {
      text-align: right;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }

    .gallery {
        margin: 40px 0;
        width: 100%;
        overflow: hidden;
        position: relative;
        bottom: 40px;

        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    }


    h1 {
        font-size: 2.5rem;
        margin: 50px 20px 20px 20px;
        line-height: 1.25;
    }

    h1.open-dyslexic {
      font-size: 2.6rem;
    }

      
    h2 {
        border-radius: 2px;
        padding: 20px;
        text-align: center;
        font-size: 2rem;
    }


    .header {
      background-color: #d0d0d0;
    
      border-bottom: 2px solid #2c3636;
      width: 100%;
      height: 60px;

      display: flex;
      margin: 0;
      position: absolute;
      top: 0;
  }

  .header.dark {
    background-color: #2c3636;
    color: #ecd2ea;
    border-bottom: 2px solid #ecd2ea;
  }

  .header-leaves {
    position: fixed;
    z-index: 200;
    background-color: #f0e4e2;
    }

    .icon {
        width: 40px;
        height: 35px;
        position: relative;
        top: 10px;
        left: 2px;
        margin-right: 3px;
        background-color: none;
        border: none;
    }

    .icon:hover {
      border: none;
      padding: 0;
    }

    .icon-explainer {
        border-top: 2px solid;
        border-right: 2px solid;
       
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1.2rem;
    
        width: 50%;
        height: fit-content;
        z-index: 1;
        gap: 5px;
        position: fixed;
        bottom: 0;
      left: 0;
        padding-right: 27px;
    }

    .icon-explainer.dark {
      background-color: #2c3636;
    }

    .icon-explainer.hide {
      display: none;
    }


    .img-container:hover {
      cursor: zoom-in;
    }


    img {
        width: 420px;
        height: 300px;
    }


    img:hover {
      padding: 5px;
      border: 2px solid #2c3636;
    }


    img.dark:hover {
      border: 2px solid #eeddec;
    }


    /* input[type=checkbox] {
      display: none;
    }


    input[type=checkbox]:checked ~ label > img {
      transform: scale(2);
      cursor: zoom-out;
    } */


    label {
      color: #2c3636;
      
    }


    label.dark {
      color: #e9c8e6;
    }


    .leaf-caption {
      padding: 5px;
    }


    .leaf-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    .leaf-container:hover {
      border: 2px solid;
      padding: 5px;
    }

    .leaf-container img:hover {
      border: none;
    }

    .leaf-grid {
        margin-top: 70px;
    
        display: flex;
        justify-content: space-evenly;
        align-items:center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .leaf-link {
        position: relative;
        z-index: 101;
      }

      .leaf-link-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        left: -10px;
      }

      .leaf-links-ui {
        position: relative;
        top: 60px;
      }


      .leaf-number {
        position: absolute;
        top: 5px;
        left: 5px;
      }
      

      .left-side {
        width: 50%;
        height: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        border-right: 2px solid;
      }

    li a {
        display: block;
      }

    .link-container {
        border-bottom: 2px solid;
        width: 100%;
        height: fit-content;
        display: flex;
        position: relative;
        top: -60px;
  
  
    }

    .main-container {
        width: 100%;

    }

    .menu {
        position: absolute;
        top: 80px;
        left: 30px;
        max-width: fit-content;
        background-color: white;
        border: 1px solid;
        z-index: 2
    }
      
      .native, .invasive {
          display: flex;
          flex-direction: row;
          padding: 0 15px;
          position: relative;
          top: 2px;
      }

      .pic-w-icon {
        position: relative;
        top: 10px;
    }

    .popup-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: absolute;
        top: 0;
      }


    #popup-link {
        background-color: white;
        border-radius: 40px;
        padding: 10px;
        position: absolute;
        top: 10px;
        right: 15px;
    
    }
    
    #popup-link:hover {
        background-color: rgb(252, 204, 211);
    }
    
    #popup-window {
        position: absolute;
        top:0;
        left:0;
        width: 460px;
        height: auto;
        background-color: rgb(252, 204, 211);
        border: 2px solid black;
        padding: 10px;
        margin: auto;
        z-index: 10;
        display: none;
      }

      .right-side {
        width: 50%;
        position: absolute;
        right: 0;
        top: 60px;
     

      }


      select {
        background-color: none;
        color: #2c3636;
        border: 1px solid;
        border-radius: 3px;
        padding: 3px;
      }

      select:hover {
        background-color: white;
      }

      select.dark:hover {
        background-color: white;
        color: #2c3636;
      }

      .slider {
        max-width: 122px;
        text-align: center;
        padding-top: 5px;
      }

      #slideshow-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        /* Add any other styling as needed */
    }

    .slideshow-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  }
      
      
      .switch-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
      }

      .switch-link a {
        color: #2c3636;
        font-size: 2rem;
      }

      .switch-link.dark a {
        color: #eeddec;
      }
      
      .switch-link:hover {
        background-color:#d0e3b1;
      }

      .switch-link:hover a {
        font-size: 2.15rem;
      }

      .switch-link.dark:hover a {
        background-color: #d0e3b1;
        color: #2c3636;
        font-size: 2.15rem;
      }


      .text-size {
        position: relative;
        top: 6px;
        right: 50px;
      }

       .thisisawebsite {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
       
    } 
    

    .ui-horizontal-caption {
      text-align: left;
      width: 420px;
      position: relative;
      left: 5px;
    }

    .ui-number {
      position: relative;
      top: 0;
      left: -20px;
    }

    .ui-vertical-caption {
      text-align: left;
      width: 270px;
    }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      .under-contact-decorative {
        position: relative;
        bottom: 27px;
      }
      
      .vertical {
          width: 270px;
          height: 350px;
      }
      

      .x-index {
        border: none;
        position: absolute;
        right: 4px;
      }

      .x-index.dark {
       background-color:#e9c8e6;
       color: black;
      }


      /* LIGHTBOX STUFF  */

      .row > .column {
        padding: 0 8px;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Create four equal columns that floats next to eachother */
      .column {
        float: left;
        width: 25%;
      }
      
      /* The Modal (background) */
      .modal {
        background-color: #f0e4e2;
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
      }

      .modal.dark {
        background-color: #2c3636;
      }
      
      /* Modal Content */
      .modal-content {
        position: relative;
        display: flex;
        gap: 10px;
        margin: 0 auto;
        padding: 0;
        width: fit-content;
        max-width: 1200px;
      }
      
      /* The Close Button */
      .close {
        color: black;
        border: 2px solid;
        padding: 5px 15px;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
        z-index: 300;
      }

      .close.dark {
        background-color: #e9c8e6;
      }
      
      .close:hover,
      .close:focus {
        background-color: goldenrod;
        cursor: pointer;
      }
      
      /* Hide the slides by default */
      .mySlides {
        display: none;
      }
      
      /* Next & previous buttons */
      .prev,
      .next {

        border: 2px solid;
        cursor: pointer;
        position: absolute;
        top: 53%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: black;
        font-weight: bold;
        font-size: 20px;
        user-select: none;
        -webkit-user-select: none;
      }

      .prev {
        position: fixed;
        left: 30px;
      }
      
      /* Position the "next button" to the right */
      .next {
        position: fixed;
        right: 30px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        color: black;
        border: 2px solid;
        background-color: honeydew;

      }

      .prev.dark, .next.dark {
        color:  #e9c8e6;
      }

      .prev.dark:hover,
      .next.dark:hover {
        border: 2px solid #e9c8e6;
        padding: 5px;
      }
      
      
      /* Caption text */
      .caption-container {
        text-align: center;
     
        padding: 2px 16px;
        color: black;
      }
      
      img.demo {
        opacity: 0.6;
      }
      
      .active,
      .demo:hover {
        opacity: 1;
      }
      
      img.hover-shadow {
        transition: 0.3s;
      }
      
      .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .modal-vertical {
        text-align: left;
        width:530px; 
        height: 670px;
        position: relative;
        bottom: 30px;
      }

      .modal-horizontal {
        text-align: left;
        width: 830px;
        height: 560px;
      }

      .my-slides-container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
        top: 20px;

      }

      .modal-figcaption {
        text-align: left;
      }


      .modal-figcaption-i-vertical {
      text-align: center;
      position: relative;
      bottom: 28px;
      margin: 0 auto;
      }

      /* .modal-figcaption-i-horizontal {
        text-align: center;
        position: relative;
        margin: 0 auto;
        } */





  