* { 
box-sizing: border-box;
}

img {
    max-width: 100%;
}

p {
    background-color: lightpink;
    padding: 30px;
    max-width: 600px;
}

.featured-image {
    width: 100%;
    max-width: 600px;
}

