
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }  
  
  h1 {
    color: rgb(233, 105, 58);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    padding: 40px;
  }
  
.leave {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.center {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
}

a {
  color:blue;
  font-family: Arial, Helvetica, sans-serif
}

a: visited: {
  color:aquamarine;
}

.welcome {
  font-size:30px;
  font-family:'Lucida Sans Regular';
  text-align: center;
  margin-top: 0;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}

summary {
  font-family:'Courier New', Courier, monospace

}

.backtohomepage {
  display: block;
  padding: 15px;
}

.thisisawebsite {
margin: 0 40px 0 40px;
font-size: 60px;
}

.cardinalwithbabies {
 width: 200px;
 height: 200px;
}

h2 {
  font-family:'Lucida Sans Regular';
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}