* { 
box-sizing: border-box;
}

body {
    background-color:rgb(245, 220, 236);
}

.center {
    background-color:white;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.square {
    background-color:aquamarine;
    width:150px;
    height:150px;
    border:1px solid;
    margin:10px;
    padding: 10px;
    text-align: center;
}

.relative {
    background-color:lightcoral;
    position:relative;
    top: 30px;
    left: 30px;
    z-index: 3;
}



.container {
    background-color:darkslategray;
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 1;
}

.absolute {
    background-color:deepskyblue;
    position: absolute;
    top:0;
    right:-100px;
    padding: 10px;
    border: 1px solid;
    width:100px;
}

.sticky {
    background-color:chartreuse;
    position: sticky;
    top: 0;
    z-index: 2;
}

.smiley {
    background-color:lightblue;
    position: fixed;
    margin:0;

    width:200px;
    height:200px;
    border:1px solid;
    border-radius:100%;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 9;
}

.eye {
    background-color:darkkhaki;
    border: 1px solid;
    width: 50px;
    height: 50px;
    border-radius: 0 0 100% 100%;
    position: absolute;
    top:50px;
}

.left {
   left:30px;
}

.right {
    right: 30px;
}

.mouth {
    background-color:black;
    border: 1px solid;
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    left: 50px;
    border-radius:100%;

}

.hat {
    background-color:chocolate;
    border:1px solid;
    height: 50px;
    width: 200px;

    position: absolute;
    top:-25px;
}